* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: rgb(235 ,235 ,235);
}

/* Css general para todas las paginas 
    header y footer                */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
}

.menu {
    list-style: none;
    padding: 0;
    margin: auto;
}

.menu li a{
    text-decoration: none;
    padding: 20px;
    display: block;
}

.menu li{
    display:inline-block ;
    text-align: center;
}

.img-logo{
    margin: 10px;
    height: 40px;
}

.btn{
    position: relative;
    left: 300px;
    text-align: center;
    display: block;
    width: 100%;
    background-color: #FF3368;
    border-radius: 10px ;
    padding: 10px 20px;
    margin-inline-end: 10px ;
    color: white;
    text-decoration: none;
    border: 2px solid white;
}

.btn:hover{
    background-color: transparent;
    border: 2px solid #FF3368;
    color: #FF3368;
}

footer {
    text-align: center;
    background-color: rgb(235 ,235 ,235);
    padding: 100px 0px 80px 0px ;
}


/* css para Index principal */

.container {
    text-align: center;
    margin: auto;
    max-width: 1400px;
    background-image: linear-gradient( 
        0deg,
        rgba(0,0,0,.5),
        rgba(0,0,0,.5)
    )
    ,url(Imagenes/juan-pablo-II-UCT.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 35vh;
}

.container h2{
    font-size: 2.5em;
    color: #fff;
}

article {
    text-align: center;
    width: 85%;
    max-width: 1300px;
    margin: auto;
}

/* apartado Quienes Somos */

main .Somos{
    margin: 50px auto;
    padding: 100px 0px;
    text-align: center;
    width: 90%;
    max-width: 1300px;

}

.Somos h3{
    padding: 10px;
    color: blueviolet;
    font-size: 1.8em;
}

/* apartado para servicios */
#servicios {
    background-color: rgb(30, 30, 30);
    color: white;
}

#servicios h2{
    text-align: center;
    padding: 30px;
    font-size: 2em;
}

#servicios article{
    align-items: center;
    padding-bottom: 20px;
}

#servicios .carta{
    background-position: center center;
    background-size: cover;
    margin: 20px;
    border-radius: 10px;
}

.carta h3{
    font-size: 1.5em;
    padding: 40px 30px; 
}

.carta p{
    padding: 0px 60px 40px 60px;
}

.carta:first-child{
    background-color: #BF367D;
}

.carta:nth-child(2){
    background-color: #36ADBF;
}

.carta:nth-child(3){
    background-color: #36BF8C;
}


/* Css para Ayudantia */



/* Css para Practica */




/* Css para Busqueda de Trabajo */



/* Boton Formulario*/

.contenido article .btn-abrir-popup {
	padding: 0 20px;
	margin: 20px;
	height: 40px;
	line-height: 40px;
	border: none;
	color: #fff;
	background: #FF3368;
	border-radius: 4px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	transition: .3s ease all;
	cursor: pointer;
    border: 2px solid white;
}

.contenido article .btn-abrir-popup:hover {
    background-color: transparent;
    border: 2px solid #FF3368;
    color: #FF3368;
}

/* Apartado Ventana Emergente*/
.overlay {
	background: rgba(0,0,0,.3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
}

.overlay.active {
	visibility: visible;
}

.popup {
	background-color: #F8F8F8;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
	border-radius: 1em;
	font-family: 'Montserrat', sans-serif;
	padding: 20px;
	width: 700px;
    padding:  10px ;
	text-align: right;
	transition: .3s ease all;
	transform: scale(0.7);
	opacity: 0;
}


.popup h3 {
    font-size: 24px;
    color: blueviolet;
	font-weight: 600;
	opacity: 0;
    text-align: center;
}

.popup h4 {
	font-weight: 300;
	margin-bottom: 20px;
	opacity: 0;
    text-align: center;
}

/* apartado para el formulario */

#cont {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.form_container > .cont{
    grid-column:1 span;
}

.cont {
    display: grid;
}

.form_container > .textarea {
    margin-left: 15px;
    margin-top: 10px;
    grid-column: 2 span;
}


.form_container label{
    text-align: left;
    margin: 15px 0px 0px 10px;
}

.form_input {
    font-size: 16px;
    padding: 12px 16px;
    outline: none;
    border: none;
    border: 1px outset #bbb0b0;
    border-radius: 0.2em;
    margin-left: 10px;
}

.form_input--message {
    padding: 30px 16px;
    margin-bottom: 16px;
    font-size: 16px;
    outline: none;
    border: none;
    border: 1px outset #bbb0b0;
}


.popup .btn-cerrar-popup {
	font-size: 16px;
	line-height: 16px;
	display: block;
	text-align: right;
	transition: .3s ease all;
	color: #BBBBBB;
}

.popup .btn-cerrar-popup:hover {
	color: #000;
}

.popup form .btn-submit {
	padding: 0 20px;
    margin-top: 10px;
    margin-right: 10px;
	height: 40px;
	line-height: 40px;
	border: none;
	color: #fff;
	background: #FF3368;
	border-radius: 5px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	cursor: pointer;
	transition: .3s ease all;
    border: 2px solid #FF3368;
}

.popup form .btn-submit:hover {
    background-color: transparent;
    border: 2px solid #FF3368;
    color: #FF3368;
}

/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup.active {	transform: scale(1); opacity: 1; }
.popup.active h3 { animation: entradaTitulo .8s ease .5s forwards; }
.popup.active h4 { animation: entradaSubtitulo .8s ease .5s forwards; }
.popup.active .contenido-inputs { animation: entradaInputs 1s linear 1s forwards; }

@keyframes entradaTitulo {
	from {
		opacity: 0;
		transform: translateY(-25px);
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes entradaSubtitulo {
	from {
		opacity: 0;
		transform: translateY(25px);
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes entradaInputs {
	from { opacity: 0; }
	to { opacity: 1; }
}



/* Css para registrarse e Ingresar (Login) */

#formularios {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient( 
        0deg,
        rgba(0,0,0,.5),
        rgba(0,0,0,.5)
    )
    ,url(Imagenes/thumb-1920-954241.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

.container-form {
    width: 90%;
    height: 90vh;
    display: flex;
    justify-content: space-around;
    transition:  all .5s ease-out;
}

.welcome-back {
    display: flex;
    align-items: center;
    text-align: center;
}

.mensaje {
    padding: 1rem;
}

.mensaje h2 {
    font-size: 1.7rem;
    padding: 1rem 0;
}

.mensaje button {
    padding: 1rem;
    font-weight: 400;
    background-color: #FF3368;
    border-radius: 2rem;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: .9rem;
    margin-top: 2rem;
    transition: all .3s ease-in;
    color: #fff;
}

.mensaje button:hover {
    background-color: #FF3368;
}

.formulario {
    width: 400px;
    padding: 1rem;
    margin: 2rem;
    background-color: rgb(51, 51, 51, 0.602);
    text-align: center;
}

.create-account {
    padding: 2.7rem 0;
    font-size: 1.7rem;
}

.iconos {
    width: 200px;
    display: flex;
    justify-content: space-around;
    margin: auto;
}

.border-icon {
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    border: solid thin white;
    border-radius: 50%;
    font-size: 1.5rem;
    transition: all .3s ease-in;
}

.border-icon:hover {
    background-color: #FF3368;
    cursor: pointer;
}

.cuenta-gratis {
    padding: 2rem 0;
}

.formulario input {
    width: 70%;
    display: block;
    margin: auto;
    margin-bottom: 2rem;
    background-color: transparent;
    border: none;
    border-bottom: white thin solid;
    text-align: center;
    outline: none;
    padding: .2rem 0;
    font-size: .9rem;
    color: white;
}

.formulario input[type="button"] {
    width: 60%;
    margin: auto;
    border: solid thin white;
    padding: .7rem;
    border-radius: 2rem;
    background-color: white;
    font-weight: 600;
    margin-top: 3rem;
    font-size: .8rem;
    cursor: pointer;
    color: #222;
}

.sign-in {
    position: absolute;
    opacity: 0;
    visibility: hidden;
}

.sign-in.active {
    opacity: 1;
    visibility: visible;
}

.sign-up.active {
    opacity: 0;
    visibility: hidden;
}